body {
  background-color: rgb(40, 143, 143);
}
::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}
